In [4]:
x=int(input("enter your basic salary"))

enter your basic salary766086987

In [6]:
if x>500000:
  print("you are taxable")
if x<500000:
  print("you are not taxable")
  print(x-300000)*10/100

you are taxable

In [7]:
x=int(input("enter your basic salary"))
if x>500000:
  print("you are taxable")
  print((x-500000)*10/100)
if x<500000:
  print("you are not taxable")

enter your basic salary766086987
you are taxable
76558698.7

In [ ]:
x=int(input("enter your basic salary"))
if 500000<x